*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Inter',sans-serif;

    background:
    linear-gradient(
    135deg,
    #020817 0%,
    #041325 50%,
    #020617 100%);

    min-height:100vh;

    color:white;
}

header{

    text-align:center;

    padding:60px 20px 30px;
}

.logo{

    font-size:48px;
    font-weight:700;

    color:#00C8FF;
}

.subtitle{

    margin-top:10px;

    color:#CBD5E1;

    font-size:18px;
}

main{

    display:flex;

    justify-content:center;

    padding:20px;
}

.card{

    width:100%;
    max-width:1100px;

    background:rgba(15,23,42,.75);

    backdrop-filter:blur(12px);

    border:1px solid #1E293B;

    border-radius:20px;

    padding:40px;

    box-shadow:
    0 0 40px rgba(0,200,255,.15);
}

.card h1{

    margin-bottom:30px;

    color:#00C8FF;
}

.search{

    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

input{

    flex:1;

    min-width:250px;

    padding:14px;

    border-radius:12px;

    border:1px solid #334155;

    background:#0F172A;

    color:white;

    font-size:15px;
}

select{

    width:140px;

    padding:14px;

    border-radius:12px;

    border:1px solid #334155;

    background:#0F172A;

    color:white;
}

button{

    padding:14px 28px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    background:#00C8FF;

    color:#02111f;

    transition:.3s;
}

button:hover{

    background:#00AEEF;

    transform:translateY(-2px);
}

pre{

    margin-top:30px;

    min-height:300px;

    background:#020817;

    border:1px solid #1E293B;

    border-radius:15px;

    padding:20px;

    color:#8BFFB4;

    overflow:auto;

    white-space:pre-wrap;
}
